{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="container mt-3">
        {% if (app.session.get("mail") != null) %}
            {% if (app.session.get("rang") == 1) %}
                <button onclick="createEvent()" class="btn btn-outline-primary float-right mt-2"><i class="fas fa-plus"></i> Ajouter un événement</button>
            {% elseif (app.session.get("rang") == 2) %}
                <a href="http://10.131.129.156:5000/api/photo/telecharger"><button class="btn btn-outline-danger float-right mt-2 mr-1">Télécharger les images</button></a>
            {% endif %}
        {% endif %}
        <h1>Événements du BDE</h1>
        <hr>

        {% for event in events %}

            <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin-left: -50%; width: 200%;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><a href="{{ path('eventById', {id_event:event.id_event}) }}">{{ event.nom_event }}</a></h5>

                        {% if (app.session.get("rang") == 1) %}
                            <a href="{{ path('deleteEvent', {id_event: event.id_event}) }}"><button class="btn btn-outline-danger float-right">Supprimer</button></a>
                        {% endif %}
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if (event.type_event > 1) %}
                                    <p>Du {{ event.date_debut_event|date('d/m') }} au {{ event.date_fin_event|date('d/m') }} de chaque mois</p>
                                {% else %}
                                    <p>Du {{ event.date_debut_event|date('d/m/Y') }} au {{ event.date_fin_event|date('d/m/Y') }}</p>
                                {% endif %}
                                <strong class="amount">Prix : <span class="big">{{ event.prix }},00€</span></strong>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                {{  participantsList[event.id_event]|length }} participant(s).
                                {% if (participants[event.id_event] is defined) %}
                                    {% for participant in participants[event.id_event] %}
                                        {% if (app.session.get("id_user") != participant.id_user) %}
                                            <a href="{{ path('participeById', {id_event: event.id_event}) }}"><button class="btn btn-primary float-right">Participer à cet événement</button></a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a href="{{ path('participeById', {id_event: event.id_event}) }}"><button class="btn btn-primary float-right">Participer à cet événement</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </main>

    <script type="text/javascript">
        function createEvent() {
            location.href = "http://localhost/exia_a2_symfony_project/public/ideas/add";
        }
    </script>

    {% include 'bases/footer.html.twig' %}

{% endblock %}