{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <main class="container mt-3">
        {% if (app.session.get("mail") != null) %}
            {% if (app.session.get("rang") == 1) %}
                <a href="{{ path('downloadPDF', {id_event: event.id_event}) }}"><button class="btn btn-outline-danger float-right mt-2">Télécharger les participants (PDF)</button></a>
                <a href="{{ path('downloadCSV', {id_event: event.id_event}) }}"><button class="btn btn-outline-danger float-right mt-2">Télécharger les participants (CSV)</button></a>
            {% endif %}
        {% endif %}
        <h1>{{ event.nom_event }}</h1>
        <hr>
        <h3>Du {{ event.date_debut_event|date('d/m/Y') }} au {{ event.date_fin_event|date('d/m/Y') }}</h3>
        La participation à cet événement coûte {{ event.prix }},00 €. <br><br>

        {% if participants|length == 0 %}
            <a href="{{ path('participeById', {id_event: event.id_event}) }}"><button class="btn btn-primary">Participer a cet événement</button></a>
        {% endif %}

        <br><br><br>
        <h4>Photos publiées suite à cet événement :</h4>

        {% if photo %}
            {% for key, photo in photo %}

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>{{ photo.legende_photo }}</h5>
                            <a href="{{ path('photoById', {id_photo: photo.id_photo}) }}"><button class="btn btn-primary">Consulter les commentaires</button></a>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="http://10.131.129.156:5000/static/{{ photo.url_photo }}" width="100%" alt="">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    {% if (app.session.get("rang") == 2) %}
                                        <a href="{{ path('signaleById', {id_photo: photo.id_photo}) }}"><button class="btn btn-danger float-right">Signaler</button></a>
                                    {% endif %}
                                    <a href="{{ path('likeById', {id_photo: photo.id_photo}) }}"><i class="fas fa-heart"></i></a>
                                    Aimée par {{ likes[photo.id_photo]|length }} personne(s).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        {% else %}
            <h1>Aucune photo publiée.</h1><br><br><br>
        {% endif %}

        {% if date == true %}
        <div class="row mb-3">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h5>Ajouter une photo</h5>
                {{ form_start(formPhoto) }}
                <div class="form-group">
                    {{ form_widget(formPhoto.legende_photo, {'attr': {'class': 'form-control', 'placeholder': 'Entrez une légende'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(formPhoto.file_photo) }}
                </div>
                <button class="btn btn-primary">Ajouter</button>
                {{ form_end(formPhoto) }}
            </div>
        </div>
        {% endif %}


    </main>

    {% include 'bases/footer.html.twig' %}

{% endblock %}