{% extends 'base.html.twig' %}

{% block body %}

  {% include 'bases/styles.html.twig' %}

  {% include 'bases/header.html.twig' %}

  {% if erreur %}
    <h4>{{ erreur }}</h4>
  {% endif %}

  <div class="container mt-4">
    <h1>Création de compte</h1>
    <hr>
    {% if erreur != "" %}
      <div class="alert alert-danger" role="alert">
        {{ erreur }}
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">

        {{ form_start(form) }}

        <div class="form-group">
          <label>Adresse mail</label>
          {{ form_widget(form.adresse_mail, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre adresse mail'}}) }}
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>

        <div class="form-group">
          <label>Sécurité</label>
            {{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre mot de passe'}}) }}
        </div>

        <div class="col-sm-12 text-center mb-1">
          {{ form_widget(form.login, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>

  {% include 'bases/footer.html.twig' %}

{% endblock %}