{% extends 'base.html.twig' %}

{% block body %}

    {% include 'bases/styles.html.twig' %}

    {% include 'bases/header.html.twig' %}

    <div class="container mt-4">
        <h1>Les produits de la boutique</h1>
        <hr>
        {% for produit in produits %}

            <img src="http://10.131.129.114:5000/static/{{ produit.url_image_produit }}" alt="">
            {{ produit.nom_produit }} <a href=" {{ path('buyById',  {id_produit : produit.id_produit}) }} ">Acheter ce produit</a>
            <a href=" {{ path('supprimer_produit',  {id_produit : produit.id_produit}) }} ">Supprimer ce produit</a> </br>

        {% endfor %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Ajouter</button>
    {{ form_end(form) }}

    {% include 'bases/footer.html.twig' %}

{% endblock %}
